<div class="col-xs-8 col-xs-offset-2">	
	<div class="panel panel-warning">
		<div class="panel-heading text-center">			
			<h1>Editing Booklist</h1>
		</div>
		<div class="panel-body">	
			<%= render 'form', booklist: @booklist %>
		</div>	
			<%= link_to 'Show', @booklist, class:"btn btn-xs btn-info" %>
			<%= link_to 'Back', booklists_path, class:"btn btn-xs btn-danger" %>
	</div>
</div>			